.main{
    display: flex;
    flex-direction: column;

    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    
    width: 100%;
}
.input{
    margin-top: 8px;
    padding: 10px;
    
    border: 1px solid #5D576B;
    border-radius: 10px;
}